<!DOCTYPE html>
<html lang="en">
    
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Meme Generator Description!" >
        <link rel="stylesheet" type="text/css" href="static/resources/css/style.css">
        <!-- <link href="https://unpkg.com/ionicons@4.4.2/dist/css/ionicons.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" type="text/css" href="static/vendors/css/Fluid%20Grid.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
        <title>Meme Generator</title>
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <header>
            <nav>
                <div>
                    <img src="static/resources/img/logo.png" alt="Meme Generator logo" href='index' class="logo"> 
                    <ul class="main-nav js--main-nav">
                        <li> <a href='index' > Home </a></li>
                        {% csrf_token %}

                        {% block username %}
                            {% if not username is None %}
                                <li> <a href="logout" > {{username}}, Logout </a> </li> 
                                <li> <a href="profile" > {{username}}, Profile </a> </li>  

                            {% else %}
                                <li> <a href="login" > Sign In </a> </li>
                            {% endif %}
                            
                        {% endblock %} 

                        <li> <a href="#works" > How it works </a></li>
                        <li> <a href="#gallery" > Gallery </a></li>
                        <li> <a href="sign_up" > Sign Up </a></li>
                    </ul>
                </div>
            </nav>

            <div class="hero-text-box">
                <h1>Goodbye same memes.<br> Hello new ideas.</h1>
                <a class="btn btn-full js--scroll-to-plan" href="#" >I'm interested</a>
                <a class="btn btn-ghost js--scroll-to-start" href="#">Show me fun</a>
            </div>
        </header>

        <section class="section-register">

            <form action='sign_up' method='post'>
                <div class='form-register'>
                    {{ register_form.as_p }}
                    <input id='button-register' type='submit' text='Register' value='Register'>
                </div>
                
            </form>

        </section>
      

        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <ul class="footer-nav">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">iOS App</a></li>
                        <li><a href="#">Android App</a></li>
                    </ul>
                </div>

                <div class="col span-1-of-2">
                    <ul class="social-links">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                    </ul>
                </div>
            </div>  

            <div class="row">
                <p>
                    Copyright &copy; 2018 by . All rights reserved.
                </p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://unpkg.com/ionicons@4.4.2/dist/ionicons.js"></script>
        <script src="static/vendors/js/rafael.js"></script>
        <script src="static/resources/js/script.js"></script>
        <script src="static/resources/js/fb.js"></script>

    </body>
</html>